{{!< main}} {{!-- extiende de main.hbs --}} <section class="container">
    <h2>¡Bienvenido!</h2>
    {{#if msg}}
    <p class="alert">{{msg}}</p>
    {{/if}}
    <h3>Productos</h3>
    <ul>
        <li>Manzana</li>
        <li>Pera</li>
        <li>Limon</li>
    </ul>
    <div class="container logo">
        <img src="/static/img/logo.png" alt="Logo">
    </div>
    </section>